{% extends 'base.html' %}

{% block title %}Create New Class{% endblock %}

{% block content %}
    <h1>Create New Class</h1>

    <p>Select a class to create:</p>

    <!--all classes which can be created-->
    <ul>
        <li><a href="{% url 'create_class' %}?class_type=Yoga" class="btn btn-info">Yoga – Beginner Level</a></li>
        <li><a href="{% url 'create_class' %}?class_type=Cycle" class="btn btn-info">Cycle – Cardio Blast</a></li>
        <li><a href="{% url 'create_class' %}?class_type=HIIT" class="btn btn-info">HIIT – High Intensity</a></li>
        <li><a href="{% url 'create_class' %}?class_type=Pilates" class="btn btn-info">Pilates – Core Strength</a></li>
        <li><a href="{% url 'create_class' %}?class_type=Boxing" class="btn btn-info">Boxing – Fundamentals</a></li>
        <li><a href="{% url 'create_class' %}?class_type=Weight_Training" class="btn btn-info">Weight Training – Intermediate</a></li>
        <li><a href="{% url 'create_class' %}?class_type=Zumba" class="btn btn-info">Zumba – Dance Workout</a></li>
    </ul>

    <a href="{% url 'staffonly' %}" class="btn btn-secondary">Back to Staff Only</a>
{% endblock %}
